<mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px">
  <mat-grid-tile class="course-tile">
    @for(course of (courses$ | async); track course.id){

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ course.title }}</mat-card-title>
        <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>מדריך: {{ course.teacherId }}</p>
        @if(enrolledCourses.has(course.id))
        {
        <p>מצורף לקורס</p>
        }
        @if(!enrolledCourses.has(course.id))
        {
        <p>לא מצורף לקורס</p>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openCourseDetails(course)">
          <mat-icon>info</mat-icon> פרטי הקורס
        </button>
        <button mat-button (click)="joinCourse(course)" *ngIf="!enrolledCourses.has(course.id)">
          <mat-icon>add</mat-icon> הצטרף
        </button>
        <button mat-button (click)="leaveCourse(course)" *ngIf="enrolledCourses.has(course.id)">
          <mat-icon>remove</mat-icon> עזוב
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </mat-grid-tile>
</mat-grid-list>